extends template

block content
    #content.span10
      div
        ul.breadcrumb
          li
            a(href='#') Home
            span.divider /
          li
            a(href='#') Users
      .row-fluid.sortable
        .box.span12
          .box-header.well(data-original-title='data-original-title')
            h2
              i.icon-user
              | Members
            .box-icon
              a.btn.btn-setting.btn-round(href='#')
                i.icon-cog
              a.btn.btn-minimize.btn-round(href='#')
                i.icon-chevron-up
              a.btn.btn-close.btn-round(href='#')
                i.icon-remove
          .box-content
            table.table.table-striped.table-bordered.bootstrap-datatable.datatable
              thead
                tr
                  th Username
                  th First Name
                  th Last Name
                  th Password
                  th Phone
              tbody
                for user in users
                  tr
                    td #{user.Username}
                    td.center #{user.FirstName}
                    td.center #{user.LastName}
                    td.center #{user.Password}
                    td.center
                      span.label.label-success #{user.Phone}
                    td.center
                      a.btn.btn-success(href='#')
                        i.icon-zoom-in.icon-white
                        | View
                      a.btn.btn-info(href='#')
                        i.icon-edit.icon-white
                        | Edit
                      a.btn.btn-danger(href='#')
                        i.icon-trash.icon-white
                        | Delete